<header>
  <img src="assets/images/guava.jpg" class="logo" routerLink="/client">
  <div class="menu">
    <button mat-raised-button color="primary" class="category-button"
            *ngFor="let category of Categories| keyvalue"
            (click)="sheetService.selectCategory.next(category.value)"
    >{{ category.value }}
    </button>
  </div>
  <div class="seller-button">
    <button mat-raised-button color="primary" class="category-button"
            routerLink="/login"
    >Я продавец
    </button>
  </div>
</header>
