.mat-mdc-table {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.make-order {
  width: 100%;
}

.button-make-order {
  margin-top: 5px;
}

mat-header-cell, mat-cell, mat-footer-cell, mat-header-row, mat-row, mat-footer-row {
  justify-content: center;
  text-align: center;
}
